intro {
  .bg_blanco();
  > .component-container{
    display: block;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 64px;

  }

  image {
    max-width: 740px;
    width: 95%;
    margin: 0 auto 40px auto;
  }

  .button-row {
    .animated(0.2s);
    .fira_sans();
    .color_azul_iucn();
    font-size: 14px;
    top: auto;
    height: 55px;
    display: block;
    bottom: 45px;
    top: auto;
    span {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .btn {
      border: 2px solid @azul_iucn;
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto 10px auto;
      &.next-step {
        background-image: url('../../../assets/icon/arrow_scroll-h.svg');
      }
    }

  }
}