intro {
  .bg_blanco();
  > .component-container {
    display: block;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 64px;

  }

  image {
    max-width: 740px;
    width: 95%;
    margin: 40px auto 40px auto;
  }

  .button-row {
    .animated(0.2s);
    .fira_sans();
    .color_azul_iucn();
    font-size: 14px;
    top: auto;
    height: 55px;
    display: block;
    bottom: 45px;
    top: auto;
    span {
      .font(medium);
      text-transform: uppercase;
      letter-spacing: 1px;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .btn {
      border: 2px solid @azul_iucn;
      width: 32px;
      height: 32px;
      display: block;
      margin: 0 auto 10px auto;
      &.next-step {
        background-image: url('../../../assets/icon/arrow_scroll-h.svg');
      }
    }

  }
  el-quote {
    .merriweather();
    text-align: center;
    display: block;
    max-width: 460px;
    width: 85%;
    margin: 56px auto 56px auto;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    .component-container {
      .color_azul_profundo();
      &:before,
      &:after {
        content: "";
        display: block;
        width: 64px;
        height: 48px;
        background: url('../../../../assets/icon/qumarks.svg') no-repeat center center;
        margin: 0 auto 0 auto;
      }
      &:before {
        margin-bottom: 32px;
      }
      &:after {
        margin-top: 32px;
        margin-bottom: 0;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .credit {
        .fira_sans();
        margin-top: 18px;
        font-size: 18px;
        line-height: 20px;
        font-style: normal;
      }
    }
  }
}