home {
  height: 100%;
  .shared-link {
    .animated(0.8s);
    .bounceInDownLittle();

    position: absolute;
    z-index: 0;
    right: 34px;
    top: 34px;
    .fira_sans();
    .color_blanco();
    font-size: 14px;
    display: table;
    height: 32px;
    > * {
      display: table-cell;
      vertical-align: middle;
    }
    span {
      .font(medium);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .btn {
      border: 2px solid @blanco;
      width: 32px;
      height: 32px;
      margin-left: 14px;
      display: inline-block;
      &.fb-link {
        background-image: url('../../../assets/icon/bt-facebook.svg');
      }
      &.tw-link {
        background-image: url('../../../assets/icon/bt-twitter.svg');
      }
    }
  }
  .logo {
    .animated(0.8s);
    .bounceInDownLittle();
    position: absolute;
    left: 24px;
    top: 24px;
    background-image: url('../../../../assets/common/IUCN_white.svg');
    background-repeat: no-repeat;
    background-center: center;
    width: 96px;
    height: 96px;
    z-index: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .content {
    min-height: 80%;
    max-width: 1120px;
    justify-content: center;
    margin: 140px auto 0 auto;

    &.fullWidth {
      max-width: 1120px;
    }

    .btn {
      &.view-stories,
      &.see-story {
        background-image: url('../../../../assets/icon/see-white.svg');
      }
      &.see-map {
        background-image: url('../../../../assets/icon/map-white.svg');
      }
      &.more-info {
        background-image: url('../../../../assets/icon/plus-white.svg');
      }
    }

    .preview {
      width: 100%;
      position: relative;
      margin: 0 auto;
      > .title {
        text-transform: uppercase;
        .animated(0.8s, 0.3s);
        .fadeInDown();
        .font(light);
        .color_blanco();
        max-width: 740px;
        width: 75%;
        font-size: 64px;
        line-height: 64px;
        position: relative;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 16px;
        letter-spacing: 4px;
      }
      > .description {
        position: relative;
        margin: 0 auto;
        text-align: center;
        .fontweight(300);
        .color_blanco();
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 48px;
        font-style: italic;
        .animated(0.6s, 0.5s);
        .fadeInUp();
        max-width: 740px;

      }
      > .separator-row,
      > .subtitle2,
      > .subtitle {
        margin: 16px auto;
        position: relative;
        margin: 0 auto;
        text-align: center;
        .font(medium);
        .color_blanco();
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 18px;
        .animated(0.6s, 0.5s);
        .fadeInUp();
        display: table;
        width: 80%;
        max-width: 740px;
        text-transform: uppercase;

        > div {
          display: table-cell;
          vertical-align: middle;
          &.separator {
            position: relative;
            width: 43%;
            &:before {
              content: "";
              height: 2px;
              background-color: fade(@blanco, 25%);
              transform: scaleY(-1);
              position: absolute;
              top: 16px;
              left: 0;
              width: 100%;
            }
          }
        }

      }
      > .separator-row {
        font-size: 24px;
        text-transform: none;
        .fontweight(400);
        margin-bottom: 17px;

      }
      .subtitle2 {
        .color_blanco();
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        .fontweight(500);
        margin-bottom: 0;
        > div{
          text-transform: none;
        }

      }
      > .separator {
        max-width: 360px;
        width: 80%;
        height: 2px;
        background-color: fade(@blanco, 25%);
        transform: scaleY(-1);
        margin: 16px auto;
      }
      > .image-map {
        max-width: 360px;
        width: 80%;
        position: relative;
        margin: 16px auto;
        .animated(0.6s, 1s);
        .fadeIn();

      }
      .btn-row {
        text-align: center;
        margin-top: 48px;
        .btn {
          display: inline-block;
          margin: 0 10px;
          &.see-map {
            .animated(0.3s);
          }

          &.view-stories {
            opacity: 0;
            .animated(0.3s, 1.5s);
            .fadeIn();
            position: relative;
            background-position: 12px;
            padding-left: 30px;
            padding-right: 9px;
            width: 134px;
            height: 32px;
            border-radius: 16px;
            .bg_azul_iucn();
            border: 2px solid @azul_iucn;
            line-height: 30px;
            text-align: center;
            .font(medium);
            .color_blanco();
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          &.more-info {
            opacity: 0;
            .animated(0.3s, 1.5s);
            .fadeIn();
            position: relative;
            letter-spacing: 1px;
            width: 97px;
            padding-left: 17px;
            background-position: 10px;
            height: 32px;
            border-radius: 16px;
            line-height: 30px;
            text-align: center;
            .font(medium);
            .color_blanco();
            border: 2px solid @blanco;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }

      .after-buttons {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        .color_n6();
        .fontweight(bold);
        text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
        margin-top: 24px;
      }
    }
    .list {
      width: 100%;
      position: relative;
      .search-container {
        margin-left: 1%;
        padding-left: 36px;
        position: relative;
        &:before {
          content: "";
          background-image: url(../../../../assets/icon/searchxl-white.svg);
          background-position: left;
          width: 24px;
          height: 24px;
          position: absolute;
          display: block;
          left: 0;
          top: 11px;
          opacity: 0.5;
        }
        input {
          background: transparent;
          border: 0;
          font-size: 32px;
          position: relative;
          color: fade(@blanco, 50%);
          .fontweight(300);
          &:focus,
          &:active {
            border: 0;
            outline: none;
          }

          &::-webkit-input-placeholder {
            color: fade(@blanco, 50%);
          }
          &::-moz-placeholder {
            color: fade(@blanco, 50%);
          }
          &::-ms-input-placeholder {
            color: fade(@blanco, 50%);
          }
          &::-moz-placeholder {
            color: fade(@blanco, 50%);
          }
        }
      }
      > .separator {
        .animated(0.8s);
        .bounceInUpLittle();

        width: 98%;
        height: 2px;
        background-color: fade(@blanco, 25%);
        transform: scaleY(-1);
        margin: 16px 1%;
      }
    }
    .stories-container {
      .animated(0.8s);
      .bounceInUpLittle();
      padding-top: 10px;
      margin-top: 0;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      &:not(.scale) {
        overflow-x: hidden;
        overflow-y: auto;
      }
      .story-block {
        flex: 0 0 31.3%;
        margin-right: 1%;
        margin-left: 1%;
        position: relative;
        &.hidden {
          .animated(0.3s);
          .fadeOut();
          opacity: 0;
          visibility: hidden;
        }

        position: relative;
        * {
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
        > div {
          position: relative;
          text-align: center;
          margin-bottom: 7%;
        }

        &:hover {
          a {
            cursor: pointer;
            &.btn {
              z-index: 0;
              opacity: 0.6;
              opacity: 1;

            }
            &.title {
              opacity: 1;
            }

          }
        }
        a {
          display: block;
          z-index: -1;
          &.image {
            .animated(3s);
            width: 100%;
            height: 175px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &.scale {
              z-index: 9999;
              .animated(2s);
              .scaleFull();
            }

          }
          &.title {
            .font(ultrabold);
            .color_blanco();
            font-size: 24px;
            line-height: 32px;
            max-width: 80%;
            z-index: -1;
            text-align: left;
            margin: 0;
          }

        }
        .btn {
          border: 2px solid @blanco;
          display: inline-block;
          opacity: 0;
          z-index: 0;
          top: 24px;
          right: 24px;
          position: absolute;

        }
        .btn-row {
          z-index: -1;
        }
        .block-info {
          border-radius: 0 0 2px 2px;
          background-color: #0079BA;
          padding: 24px;
          position: relative;
          height: 240px;
        }

        .authors {
          opacity: 0.75;
          .color_blanco();
          .fontweight(normal);
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          margin-top: 12px;
          position: relative;
          span {
            margin-right: 10px;
            &:after {
              content: ".";
              position: relative;
              top: -3px;
              left: 5px;
            }
            &:last-of-type {
              &:after {
                display: none;
              }
            }
          }
        }
      }
      //&::-webkit-scrollbar {
      //  width: 5px;
      //  background-color: transparent;
      //}
      //&::-webkit-scrollbar-thumb,
      //&::-webkit-scrollbar-thumb:hover,
      //&::-webkit-scrollbar-thumb:active {
      //  background-color: fade(@blanco, 25%);
      //  -moz-appearance: none !important;
      //
      //  border: 1px solid fade(@blanco, 25%);
      //  opacity: 1;
      //}
      //&::-webkit-scrollbar-thumb {
      //  border-radius: 10px;
      //  opacity: 0.6;
      //  -moz-appearance: none !important;
      //  background-color: transparent;
      //
      //}
      //&::-webkit-scrollbar-track {
      //  border: 0px fade(@n10, 25%) solid;
      //  border-radius: 10px;
      //  //-webkit-box-shadow: 0 0 6px fade(@n10, 25%) inset;
      //  margin: 10px auto;
      //  -moz-appearance: none !important;
      //  background-color: transparent;
      //
      //}

    }

  }
  scrollbar[orient="vertical"] {
    color: silver;
  }

  .rightPhotoDescription {
    right: 30px;
    height: 30px;
    top: 45%;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    position: absolute;
    line-height: 30px;
    .fira_sans();
    .color_mbl6();
    font-size: 12px;
  }
  .columns {
    padding-top: 32px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    .col-md-4 {
      .color_blanco();
      flex: 0 0 32%;
      text-align: center;
      .animated(0.6s, 0.5s);
      .fadeInUp();
      i {
        display: block;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        margin: 0 auto 16px auto;
        &:before {
          content: "";
          background-position: center;
          display: block;
          height: 32px;
          width: 32px;
          background-repeat: no-repeat;

        }

      }
      .column-info {
        .fontweight(normal);
        font-size: 16px;
        line-height: 24px;
      }
      .column-title {
        .fontweight(900);
        font-size: 16px;
        line-height: 24px;
      }
      &:nth-of-type(1) {
        i {
          .bg_mbl7();
          &:before {
            background-image: url('../../../../assets/icon/map-white.svg');

          }
        }
      }
      &:nth-of-type(2) {
        i {
          .bg_mbl8();
          &:before {
            background-image: url('../../../../assets/icon/user-white.svg');

          }
        }
      }
      &:nth-of-type(3) {
        i {
          .bg_mbl9();
          &:before {
            background-image: url('../../../../assets/icon/arrow_scroll-white.svg');

          }
        }
      }
    }
  }

}

