# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/compile
/public
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# maps
/src/**/*.map
/src/app/*.js
/src/shared/**/*.js
/src/services/*.js
/src/vendor.js


/src/css/animate/fadeInUpBig.css
/src/css/animate/fadeOutDown.css
/src/css/animate/animated.css
/src/css/animate/rotateOutUpLeft.css
/src/css/animate/bounceOutLeft.css
/src/css/animate/rotateInDownLeft.css
/src/css/animate/fadeOutLeft.css
/src/css/animate/fadeInLeft.css
/src/css/animate/wobble.css
/src/css/animate/flipOutY.css
/src/css/animate/flip.css
/src/css/animate/rotateOutDownLeft.css
/src/css/animate/fadeOutUp.css
/src/css/animate/lightSpeedOut.css
/src/css/animate/fadeInDown.css
/src/css/animate/bounceIn.css
/src/css/animate/rotateOutUpRight.css
/src/css/animate/fadeInRightBig.css
/src/css/animate/fadeOutUpBig.css
/src/css/animate/rotateInUpLeft.css
/src/css/animate/lightSpeedIn.css
/src/css/animate/fadeInDownBig.css
/src/css/animate/flipInX.css
/src/css/animate/rollIn.css
/src/css/animate/rotateOut.css
/src/css/animate/pulse.css
/src/css/animate/swing.css
/src/css/animate/fadeOutLeftBig.css
/src/css/animate/fadeOutDownBig.css
/src/css/animate/bounceInUp.css
/src/css/animate/rotateIn.css
/src/css/animate/bounceInLeft.css
/src/css/animate/kenburn.css
/src/css/animate/rotateInUpRight.css
/src/css/animate/flipInY.css
/src/css/animate/fadeInUp.css
/src/css/animate/bounceOut.css
/src/css/animate/rollOut.css
/src/css/animate/fadeOutRightBig.css
/src/css/animate/fadeOut.css
/src/css/animate/tada.css
/src/css/animate/bounceInRight.css
/src/css/animate/fadeOutRight.css
/src/css/animate/bounceOutUp.css
/src/css/animate/bounceInDown.css
/src/css/animate/flipOutX.css
/src/css/animate/bounceOutDown.css
/src/css/animate/rotateInDownRight.css
/src/css/animate/bounceOutRight.css
/src/css/animate/fadeInRight.css
/src/css/animate/hinge.css
/src/css/animate/rotateOutDownRight.css
/src/css/animate/fadeIn.css
/src/css/animate/wiggle.css
/src/css/animate/shake.css
/src/css/animate/bounce.css
/src/css/animate/flash.css
/src/css/animate/fadeInLeftBig.css
/src/css/shared/steps/skip/styles.css
/src/css/shared/elements/info/styles.css
/src/css/shared/elements/quote/styles.css
/src/css/shared/steps/conclusion/styles.css
/src/css/shared/steps/cover/styles.css
/src/css/shared/menu/styles.css
/src/css/shared/steps/map/styles.css
/src/css/shared/elements/image/styles.css
/src/css/shared/elements/paragraph/styles.css
/src/css/shared/steps/intro/styles.css
/src/css/shared/shared.css
/src/shared/steps/base/BaseStep.js.map
/src/shared/steps/skip/SkipStep.js.map
/src/shared/elements/info/Info.js
/src/shared/elements/quote/LearnMore.js.map.map
/src/shared/elements/paragraph/Paragraph.js.map
/src/shared/steps/cover/CoverStep.js.map
/src/shared/steps/intro/IntroStep.js
/src/shared/steps/map/MapStep.js
/src/services/WindowService.js.map
/src/shared/menu/Menu.js.map
/src/shared/elements/image/Image.js
/src/shared/elements/image/Image.js.map
/src/services/StoryService.js
/src/shared/steps/intro/IntroStep.js.map
/src/shared/menu/Menu.js
/src/shared/elements/base-element/BaseElement.js.map
/src/shared/elements/element-block/ElementBlock.js.map
/src/services/MapService.js
/src/services/MapService.js.map
/src/shared/steps/skip/SkipStep.js
/src/shared/steps/cover/CoverStep.js
/src/shared/steps/home/HomeStep.js.map
/src/app/main/MainComponent.js
/src/shared/elements/base-element/BaseElement.js
/src/shared/elements/quote/LearnMore.js
/src/shared/elements/info/Info.js.map
/src/shared/steps/home/HomeStep.js
/src/shared/elements/paragraph/Paragraph.js
/src/services/WindowService.js
/src/shared/steps/conclusion/ConclusionStep.js
/src/shared/steps/conclusion/ConclusionStep.js.map
/src/app/main/MainComponent.js.map
/src/shared/steps/map/MapStep.js.map
/src/app/NgModule.js.map
/src/services/StoryService.js.map
/src/shared/steps/base/BaseStep.js
/src/app/NgModule.js
/src/shared/elements/element-block/ElementBlock.js
