<div class="component-container">
    <div class="top">
        <div class="logo small"></div>
        <a class="btn back" (click)="goHome()"></a>
    </div>
    <div class="bottom">
        <div>
            <a class="btn cover {{isItemActive('cover') ? 'active' : ''}}" data-content="Cover"
               (click)="scrollTo('cover')"></a>
            <a class="btn intro {{isItemActive('intro') ? 'active' : ''}}" (click)="scrollTo('intro')" data-content="Intro"></a>
            <a class="btn map {{isItemActive('map') ? 'active' : ''}}" (click)="scrollTo('map')" data-content="Map"></a>
            <a class="btn conclusion {{isItemActive('conclusion') ? 'active' : ''}} "
               (click)="scrollTo('conclusion')" data-content="Conclusion"></a>
            <a class="btn skip {{isItemActive('skip') ? 'active' : ''}}" (click)="scrollTo('skip')" data-content="Next history"></a>
        </div>
    </div>
</div>