@keyframes kenburns {
  0% {
    transform: scale3d(1, 1, 1) translate3d(-0px, -0px, 0px);
    animation-timing-function: ease-in;
    opacity: 0.5;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(-170px, -70px, 0px);
    opacity: 0;
  }
}

@keyframes kenburns-home {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  17% {
    transform: scale3d(1.27, 1.27, 1.27) translate3d(0, -30px, 0px);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  35% {
    opacity: 1;
    transform: scale3d(1.56, 1.56, 1.56) translate3d(0, -100px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale3d(1.8, 1.8, 1.8) translate3d(-30px, -40px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  65% {
    transform: scale3d(1.56, 1.56, 1.56) translate3d(0, -100px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  83% {
    transform: scale3d(1.27, 1.27, 1.27)  translate3d(0, -30px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.kenburns-anim{
  -webkit-animation-name: kenburns-home;
  -moz-animation-name: kenburns-home;
  -o-animation-name: kenburns-home;
  animation-name: kenburns-home;
}

.kenburns-home-anim{
  -webkit-animation-name: kenburns-home;
  -moz-animation-name: kenburns-home;
  -o-animation-name: kenburns-home;
  animation-name: kenburns-home;
}