@keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -80px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(-170px, -70px, 0px);
    opacity: 0;
  }
}

@-webkit-keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
    -webkit-animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
    opacity: 0;
  }
}


@-moz-keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    -moz-transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
    -moz-animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    -moz-transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
    opacity: 0;
  }
}

@-o-keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    -o-transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
    -o-animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    -o-transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
    opacity: 0;
  }
}

.kenburns{
  -webkit-animation-name: kenburns;
  -moz-animation-name: kenburns;
  -o-animation-name: kenburns;
  animation-name: kenburns;
}