map {
  .bg_blanco();
  #map {
    z-index: 5;
    position: static;
    width: 100%;
    height: 100%;
  }
  > .component-container{
    position: relative;
    .step-locked {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }
    > div {
      > .btn-row {
        position: absolute;
        z-index: 100;

        &:not(.top) {
          bottom: 32px;
        }
        &.top {
          top: 16px;
        }
        &:not(.right) {
          left: 32px;
        }
        &.right {
          right: 88px;
        }

        .btn {
          border: 2px solid @blanco;
          width: 32px;
          height: 32px;
          display: block;
          margin: 0 0 auto 0;
          &.next-step {
            .bg_blanco();
            border-color: @azul_iucn;
            background-image: url('../../../assets/icon/arrow_scroll-h.svg');
          }
          &.resetBbox {
            .bg_blanco();
            border: 2px solid fade(#212121, 50%);
            background-image: url('../../../assets/icon/centermap.svg');
          }
        }

        .zoomControl {
          box-sizing: border-box;
          width: 32px;
          border: 2px solid fade(#212121, 50%);
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 16px;
          .bg_blanco();

          .zoomIn {
            border: none;
            background-image: url('../../../assets/icon/zoom-in.svg');
            border-radius: 0;
            border-bottom: 1px solid fade(#212121, 50%);
          }
          .zoomOut {
            border: none;
            background-image: url('../../../assets/icon/zoom-out.svg');
          }
        }
      }
    }
  }
}