map {
  .bg_blanco();
  #map {
    z-index: 5;
    position: static;
    width: 100%;
    height: 100%;
  }
  > .component-container{
    position: relative;
    .step-locked {
      .animated(0.5s);
      .bounceInUpLittle();
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }
    > div {
      > .btn-row {
        position: absolute;
        bottom: 32px;
        left: 32px;
        z-index: 100;
        top: auto;
        .btn {
          border: 2px solid @blanco;
          width: 32px;
          height: 32px;
          display: block;
          margin: 0 0 auto 0;
          &.next-step {
            .bg_blanco();
            border-color:@azul_iucn;
            background-image: url('../../../assets/icon/arrow_scroll-h.svg');
          }
        }
      }
    }
  }
}