conclusion {
  .bg_azul_profundo();
  position: relative;
  display: block;
  &:before {
    content: "";
    background-image: url(../../../../assets/common/ilustracion_linea_mediterraneo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    width: 75%;
    height: 750px;
    left: 10%;
    top: 0;
    opacity: 0.05;
  }
  h3.title {
    .color_azul_claro_iucn();
  }
  > .component-container {
    display: block;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 64px;
  }

  h2 {
    text-align: center;
    .fontweight(300);
    .color_azul_claro_iucn();
    font-size: 48px;
    line-height: 46px;
    margin-bottom: 5px;
    b {
      display: block;
      font-size: 64px;
      line-height: 64px;
      .fontweight(extrabold);

    }
  }
  paragraph {
    .font(light);
    font-size: 16px;
    line-height: 24px;
    .color_blanco();
    max-width: 740px;
    width: 95%;
    display: block;
    margin: 0 auto 24px auto;
    .highlight {
      color: #56A7E5;
      font-family: "Fira Sans";
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      text-align: center;
      max-width: 550px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    .capitalized {
      span {
        &:first-of-type {
          float: left;
          position: relative;
          font-size: 156px;
          .color_blanco();
          padding-top: 54px;
          padding-bottom: 30px;
          padding-right: 10px;
          .font(ultrabold);
        }
      }
      clear: both;
    }
  }
  el-quote {
    .merriweather();
    .color_azul_claro_iucn();
    text-align: center;
    display: block;
    max-width: 460px;
    width: 85%;
    margin: 56px auto 56px auto;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    .component-container {
      &:before,
      &:after {
        content: "";
        display: block;
        width: 64px;
        height: 48px;
        background: url('../../../../assets/icon/qumarks.svg') no-repeat center center;
        margin: 0 auto 0 auto;
      }
      &:before {
        margin-bottom: 32px;
      }
      &:after {
        margin-top: 32px;
        margin-bottom: 0;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .credit {
      .fira_sans();
      margin-top: 16px;
      display: inline-block;
      position: relative;
      font-size: 18px;
      line-height: 20px;
      font-style: normal;

      &:before {
        content: "-";
        position: absolute;
        left: -25px;
      }

    }
  }
  img {
    &.ico {
      margin: 5px auto 36px auto;
      display: block;
    }
  }
  ul {
    li {
      &:before {
        .color_azul_claro_iucn();
      }
    }
  }
  a {
    position: relative;
    display: inline-block;
    .animated(0.6s);
    .color_azul_claro_iucn();
    &:before {
      .fadeIn();
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      content: "";
      left: 0;
      bottom: 3px;
      .bg_azul_claro_iucn();

    }
  }
}