info {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
  z-index: 9;
  > .btn-row {
    .btn {
      left: 16px;
      top: 16px;
      display: block;
      margin-bottom: 16px;
      z-index: 10;
      position: relative;
      background-color:transparent;
      border: 2px solid @blanco;
      background-image: url('../../../../assets/icon/close-white.svg');
    }

    .summary {
      display: none;
    }
  }

  > .component-container {
    padding-top: 64px;
    padding-left: 16px;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    width:100%;
    background: linear-gradient(90deg, fade(@oscuro, 70%) 0%, fade(@oscuro, 0%) 100%);
    .animated(0.6s, 0.1s);
    .fadeIn();

    .btn-row {
      &:not(.hidden) {
        padding-top: 36px;  
      }
      .btn.download {
        opacity: 1;
        visibility: visible;
        .animated(0.3s, 0.2s);
        .fadeIn();
        position: relative;
        width: auto;
        height: 32px;
        padding: 0 10px;
        border-radius: 16px;
        border: 2px solid @azul_iucn;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        display: table;
        letter-spacing: 1px;
        margin: 0 0 16px 0;
        .bg_azul_iucn();
        .font(semibold);
        .color_blanco();
      }
      &.hidden {
        .btn.download {
          opacity: 0;
          visibility: hidden;
          .fadeOut();
          display: none;
        }
      }
    }

    .info {
      width: 400px;
      padding-right:60px;
      paragraph {
        padding: 0;
        margin-left: 0;
        .fira_sans();
        .color_blanco();
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
      }
      > paragraph,
      > image {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
      }
      max-height: 80%;
      overflow-y: auto;
      position: static;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: @blanco;
      }
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-thumb:hover,
      &::-webkit-scrollbar-thumb:active {
        background-color: fade(@oscuro, 60%);
        border: 1px solid fade(@oscuro, 40%);
        opacity: 1;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        opacity: 0.6;
      }

      &::-webkit-scrollbar-track {
        border: 1px @n10 solid;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 6px @n10 inset;
      }

      &.hidden {
        display: none;
      }
    }

    .allMapLayers {
      max-height: 92%;
      overflow-y: auto;
      width: 350px;
      .mapLayerWrapper {
        width: 320px;
        &:not(:last-child) {
          border-bottom: 2px solid @azul_iucn;
          margin-bottom: 10px;
          padding-bottom: 22px;
        }
      }
    }

    .titleWrapper {
      display: flex;
      margin-bottom: 8px;
      .btn {
        background-color: white;
        color: @azul_iucn;
        border: 2px solid @azul_iucn;
        background-image: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .font(bold);
        margin-right: 8px;
        &.selected {
          border: 2px solid transparent;
        }
      }
      .title {
        .font(semibolditalic);
        .color_blanco();
        font-size: 14px;
        line-height: 18px;
        font-weight: 800;
        font-style: italic;
        display: inline-flex;
        max-width: 279px;
        cursor: pointer;

        &.selected {
          font-size:24px;
          line-height:32px;
        }
      }
    }
    
    .credit {
      display: block;
      width: 320px;
      padding: 0 0 16px 0;
      margin-top:15px;
      .fira_sans();
      .color_blanco();
      font-size: 14px;
      line-height: 18px;
      position: relative;

      &(:empty) {
        display: none;
      }

      &:not(:empty) {
        &:before {
          content: "";
          position: absolute;
          top: -6px;
          left: 0px;
          width: 8px;
          display: block;
          border-bottom: 1.5px solid #fff;
        }
      }
      &.hidden {
        display: none;
      }
    }

  }
  &.collapsed {
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    > .component-container {
      .fadeOut();
      display: none;
    }
    .btn-row {
      .btn {
        border: 2px solid @azul_iucn;
        .bg_blanco();
        background-image: url('../../../../assets/icon/info-h.svg');
        opacity: 1;

        &.download {
          opacity: 0
        }
      }
      .summary {
        display: block;
        .btn {
          .font(bold);
          color: @azul_iucn;
          background-image: none;
          display: flex;
          align-items: center;
          justify-content: center;

          &.selected {
            border: 2px solid transparent;
          }
        }
      }
    }
  }
}