html,
body,
.full-screen {
  height: 100%;
}
body {
  margin: 0;
}
.logo {
  background-image: url('../assets/common/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.logo .small {
  width: 45px;
  height: 48px;
}
.btn {
  background-position: center;
}
.btn.circle {
  border-radius: 50%;
  text-align: center;
}
.btn.small {
  width: 32px;
  height: 32px;
}
ng-component {
  display: flex;
  height: 100%;
}
ng-component .nav-bar {
  flex: 0 0 72px;
}
ng-component .main-container {
  flex: 1 0 auto;
  height: 3500px;
}
