@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600,700,800,900|Merriweather:300,400,400i,700,700i,900,900i');

.fira_sans{
  font-family: 'Fira Sans', sans-serif;
}

.merriweather{
  font-family: 'Merriweather', serif;
}


/******** Palete colors ******/

@oscuro: #212121;
@blanco: #ffffff;
@azul_profundo: #14406D;
@azul_iucn: #0079BA;
@azul_claro_iucn: #66B7EA;
@rojo_red_list: #D81E05;

@n50: #212121;
@n10: #e8e8e8;
@n5: #f4f4f4;

@mbl1: #f6f6f4;
@mbl2: #f1f3f1;
@mbl3: #cad2d3;
@mbl4: #b1b1b1;
@mbl5: #6b6b6b;

.bg_ng10{
  background-color: @n10;
}
.bg_blanco{
  background-color: @blanco;
}




.color_blanco{
  color: @blanco;
}

.color_azul_iucn{
  color: @azul_iucn;
}