@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,400i,500,500i,600,600i,700,800,900|Merriweather:300,400,400i,700,700i,900,900i');
.fira_sans {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.merriweather {
  font-family: 'Merriweather', sans-serif;
}
/******** Palete colors ******/
.bg_mbl7 {
  background-color: #8B572A;
}
.bg_mbl8 {
  background-color: #F5A623;
}
.bg_mbl9 {
  background-color: #417505;
}
.bg_ng10 {
  background-color: #e8e8e8;
}
.bg_blanco {
  background-color: #ffffff;
}
.bg_azul_profundo {
  background-color: #14406D;
}
.bg_azul_iucn {
  background-color: #0079BA;
}
.bg_n10 {
  background-color: #e8e8e8;
}
.bg_mbl6 {
  background-color: #909090;
}
.color_blanco {
  color: #ffffff;
}
.color_n6 {
  color: #56A7E5;
}
.color_oscuro {
  color: #212121;
}
.color_azul_profundo {
  color: #14406D;
}
.color_azul_claro_iucn {
  color: #66B7EA;
}
.color_azul_iucn {
  color: #0079BA;
}
.color_mbl4 {
  color: #b1b1b1;
}
.color_mbl6 {
  color: #909090;
}
