<div class="nav-bar">
    <menu *ngIf="isStoryLoaded()" [stories]="stories" [currentStory]="currentStory"></menu>
</div>
<div class="main-container">
    <home *ngIf="areStoriesLoaded() && !isStoryLoaded()" [stories]="stories" [step]="stories.home" [name]="home"></home>
    <div *ngFor="let step of getStepsKeys()">
        <div [ngSwitch]="step">
            <cover *ngSwitchCase="'cover'" [step]="getStep(step)" [name]="step"></cover>
            <intro *ngSwitchCase="'intro'" [step]="getStep(step)" [name]="step"></intro>
            <map *ngSwitchCase="'map'" [step]="getStep(step)" [name]="step"></map>
            <conclusion *ngSwitchCase="'conclusion'" [step]="getStep(step)" [name]="step"></conclusion>
            <skip *ngSwitchCase="'skip'" [step]="getStep(step)" [name]="step"></skip>
        </div>
    </div>
</div>

