<div class="component-container" [style.height.px]="getWindowHeight()" [style.width.px]="getWindowWidth()">
    <div [ngClass]="lockView() ? 'step-locked' : ''" [class.right]="isIframe()">
        <info
            [right]="isIframe()"
            *ngIf="hasInfo()"
            [item]="step.info"
            [collapsed]="false"
            (manageLayers)="updateLayers($event)"
            (downloadShp)="getShpFile($event)"
        ></info>
        <div *ngIf="!isIframe()" id="map" class="map" [style.height.px]="getWindowHeight()"></div>

        <iframe *ngIf="isIframe()" id="iframe" class="map" [cachedSrc]="step.iframeUrl" [style.width.px]="getWindowWidth()" [style.height.px]="getWindowHeight()" frameborder="0"></iframe>

        <div *ngIf="!isIframe()" class="btn-row top right">
            <a class="btn small circle resetBbox" (click)="flyTo()"></a>
            <div class="zoomControl">
                <a class="btn small circle zoomIn" (click)="zoomIn()"></a>
                <a class="btn small circle zoomOut" (click)="zoomOut()"></a>
            </div>
        </div>

        <div class="btn-row" [class.right]="isIframe()">
            <a class="btn small circle next-step" (click)="goNextStep()"></a>
        </div>

        <div *ngIf="!isIframe()" class="btn-row right legend">
            <img [src]="getCurrentLegend()" />
        </div>
    </div>
</div>
